@media (max-width: 1080px) {
  .header__row {
    column-gap: 30px;
  }
  .header__img {
    width: 300px;
    border-radius: 30px;
  }
  .header__title {
    font-size: 52px;
  }
  .header__text {
    font-size: 22px;
  }

  .portfolio__title {
    font-size: 42px;
    margin-bottom: 45px;
  }

  .contacts__title {
    font-size: 42px;
    margin-bottom: 45px;
  }

  .inner__page-title {
    font-size: 42px;
  }
}

@media (max-width: 765px) {
  .header {
    padding: 20px 0 40px;
    border-bottom-right-radius: 60px;
  }

  .header__video {
    border-bottom-right-radius: 60px;
  }
  
  .header__row {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  .header__img {
    max-width: 100%;
    width: auto;
  }
  .header__title {
    font-size: 32px;
  }
  .header__text {
    font-size: 18px;
  }

  /* BTNS */

  .btn,
  .btn-outline {
    height: 42px;
    padding: 12px 15px 0;
  }

  /* PORTFOLIO */

  .portfolio {
    padding: 40px 0;
  }
  .portfolio__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .project {
    row-gap: 30px;
  }
  .project__img {
    margin-bottom: 20px;
    border-radius: 14px;
  }
  .project__title {
    font-size: 18px;
  }

  /* CONTACTS */

  .contacts {
    padding: 40px 0;
    border-top-left-radius: 60px;
  }
  .contacts__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .messengers {
    gap: 20px;
  }
  .messenger {
    padding: 32px 20px;
    border-radius: 12px;
    font-size: 16px;
  }

  /* FOOTER */

  .footer__inner p {
    font-size: 12px;
  }

  /* INNER PAGE */

  .inner__page {
    padding: 40px 0 20px;
  }
  .inner__page-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .inner__page-details {
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .inner__page-text {
    row-gap: 20px;
  }
  .inner__page-img {
    margin-bottom: 20px;
  }
  .inner__page-backlink {
    padding: 20px;
  }
}
